@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.headerSticky{
  position: fixed;
  color: #fff;
  background-color:#04083ac1;
}

.banners .slick-prev, .banners .slick-next{
  display: none !important;
}

.slick-dots{
  bottom: -40px;
}

@media screen {
  #slick-videos .slick-dots{
    bottom: -10px;
  }
}


@media screen and (min-width: 760px){
  .slick-dots{
    bottom: -25px;
  }
}

/* @media (max-width:1024px){} */
  .slick-prev, .slick-next{
    display: none !important;
  }


.hiddenLogo{
  display: none;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,#deebfa .89%,#bed5f5 17.23%,#9db7f0 42.04%,#7d99eb 55.12%,#5c68e6 71.54%,#3345cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menuNavigation a.active {
  color: #f5a518;
}

/*
.bg-wave{
  background-image: url(./assets/images/wave.svg);
  background-position: bottom;
  background-size: 100%;
}
*/